@charset "UTF-8";

.title_section {
	width: 100vw;
	height: 400px;
	/* 画像後で差し替える */
	background-image: url(../img/column/column_title.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 50px
}

.title_text {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.title_text h1 {
	font-size: 60px;
}

.title_text h1 span {
	color: #D62828;
}
.title_text p {
	font-size: 30px;
	font-weight: bold;
}

.column {
  max-width: 720px;   /* 読み物にちょうどいい幅 */
  margin: 0 auto;
  padding: 80px 20px;
}

.column-header h2 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: 48px;
}

.column-intro {
  margin-bottom: 64px;
}

.column-intro h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

.column-intro h4 {
  font-size: 16px;
  font-weight: normal;
  color: #666;
  margin-bottom: 24px;
}

.column-intro p {
  line-height: 1.9;
  margin-bottom: 16px;
}

.column-image {
  width: 100%;
  margin: 64px 0;
  display: block;
}



#article_foot {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	width: 100%;
	padding: 50px 0;
	border-top: solid 0.5px rgba(255, 255, 255, 0.3);
}

.article_page_btn a {
	display: flex;
	align-items: center;
	gap: 10px;
	transition: all .3s;
}

#before_article a {
	justify-content: flex-start;
}

#next_article a {
	justify-content: flex-end;
}

.article_page_btn a:hover span {
	color: #D62828;
}


.article_page_btn span, #article_foot button {
	font-size: 14px;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 200;
	color: #FFFFFF;
}

#article_foot button {
	width: 210px;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 200;
	padding: 10px 20px;
	border-radius: 50px;
	cursor: pointer;
	background-color: #0F0F0F;
	border: solid 1px #FFFFFF;
	position: relative;
	overflow: hidden;
	transition: border-color .5s ease;
}

#article_foot button::before {
	position: absolute;
	top: 0;
	left: -100%;
	content: '';
	font-size: 14px;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-color: #D62828;
	transition: left .4s ease;
	z-index: 0;
}

#article_foot button:hover {
	border-color: #D62828;
}

#article_foot button:hover::before {
	left: 0;
}

#article_foot button span {
	position: relative;
	z-index: 1;
}