@charset "UTF-8";

*, ::before, ::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

body {
	font-family: "Zen Old Mincho", sans-serif;
	background-color: #0F0F0F;
	color: #FFFFFF;
}

button, input, textarea, select {
	font-family: inherit;
}

header, footer {
	background-color: #0F0F0F;
}

/* header logo */
header #header_logo {
	width: 200px;
	position: fixed;
	z-index: 135;
}

/* hamburgerメニュー */
header #hamburger {
	width: 60px;
	height: 60px;
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 140;
	cursor: pointer;
	background-color: #D62828;
	border-radius: 50px;
	border: 1px solid #FFFFFF;
	transition: all 0.4s;
}

header #hamburger::before {
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	top: -0.5px;
	right: 5px;
	z-index: 121;
	cursor: pointer;
	border: 1px solid #FFFFFF;
	border-radius: 50px;
	transition: all 0.4s;
}

header #hamburger span {
	width: 28px;
	height: 1.5px;
	background-color: #FFFFFF;
	position: absolute;
	left: 13px;
	transition: all 0.4s;
}

header #hamburger span:nth-child(1) {
	top: 19px;
}

header #hamburger span:nth-child(2) {
	top: 28px;
}


header #hamburger span:nth-child(3) {
	top: 37px;
}


header #hamburger.active {
	background-color: #FFFFFF;
	border-color: #D62828;
}

header #hamburger.active::before {
	border-color: #D62828;
}

header #hamburger.active span:nth-child(1) {
	top: 27px;
	transform: rotate(-45deg);
	background-color: #D62828;
}

header #hamburger.active span:nth-child(2) {
	opacity: 0;
}

header #hamburger.active span:nth-child(3) {
	top: 27px;
	transform: rotate(45deg);
	background-color: #D62828;
}

header #nav_list {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 130;
	transform: translateX(100%);
	transition: transform 0.6s ease;
	background-color: #0F0F0F;
}

header #nav_list.active {
	transform: translateX(0);
}

header #nav_list ul {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 60px 50px;
	text-align: center;
}

header #nav_list ul li a:hover {
	color: #D62828;
}

/* footer */
footer #footer_inner {
	padding: 110px 0 20px 0;
}

footer #footer_main {
	display: flex;
	justify-content: space-around;
	margin: 0 120px;
	gap: 120px;
}

footer #footer_main div {
	flex: 1;
}

footer #footer_logo {
	width: 320px;
}

footer #address {
	line-height: 1.6;
	font-size: 14px;
	padding-left: 29px;
}

footer #footer_nav {
	padding-top: 35px;
}

footer #footer_nav ul li {
	line-height: 2;
}

#footer_nav ul li a:hover {
	color: #D62828;
}

footer #footer_foot {
	padding: 0 150px;
	margin-top: 100px;
	font-size: 13px;
}

/* レスポンシブデザイン */
/* タブレット */
@media (max-width: 820px) {
	footer #footer_inner {
		padding: 60px 0 20px 0;
	}

	footer #footer_main {
		margin: 0 60px;
		gap: 40px;
	}

	footer #footer_logo {
		width: 250px;
	}

	footer #address {
		font-size: 13px;
	}

	footer #footer_nav {
		padding: 20px 0 0 20px;
		font-size: 15px;
	}

	footer #footer_foot {
		padding: 0 70px;
		margin-top: 60px;
		font-size: 12px;
	}
}

/* スマートフォン */
@media (max-width: 480px) {
	footer #footer_inner {
		padding: 40px 20px 20px 20px;
	}

	footer #footer_main {
		flex-direction: column-reverse;
		margin: 0 auto;
		width: 100%;
		gap: 50px;
	}

	footer #footer_info {
		text-align: center;
	}

	footer #address {
		padding-left: 0;
		margin-top: 20px;
		font-size: 12px;
		line-height: 1.8;
	}

	footer #footer_nav {
		padding: 0;
		text-align: center;
	}

	footer #footer_nav ul li {
		line-height: 2.5;
	}

	footer #footer_foot {
		padding: 0 20px;
		margin-top: 40px;
		font-size: 11px;
		text-align: center;
	}
}

