@charset "UTF-8";

body {
	font-family: "Zen Old Mincho", sans-serif;
}

/* title_container　ここから */
.title_section {
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-top: 50px;
}

.title_text {
	max-width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 100px;
	padding-bottom: 50px;
}

.title_text h1 {
	font-size: 60px;
}

.title_text h1 span {
	color: #D62828;
}
.title_text p {
	font-size: 30px;
	font-weight: bold;
}

.title_img {
	display: block;
	width: 60%;
	height: 300px;
	background-image: url(../img/menu/bibimbap-1738580_1280.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

@media screen and (max-width: 820px) {
	.title_section {
		height: auto;
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.title_text {
		margin-left: 40px;
		max-width: 55%;
		padding-bottom: 20px;
	}

	.title_text h1 {
		font-size: 50px;
	}
	
	.title_text p {
		font-size: 22px;
	}
	
	.title_img {
		height: 260px;
	}
}

@media screen and (max-width: 430px) {
	.title_section {
		flex-direction: column;
		height: auto;
		padding: 150px 0 20px 0;
		justify-content: space-between;
		align-items: flex-start;
		gap: 50px;
		width: 100%;
	}

	.title_text {
		margin-left: 0;
		padding: 0 20px;
	}

	.title_text h1 {
		font-size: 36px;
	}

	.title_text p {
		font-size: 16px;
	}

	.title_img {
		width: 100%;
		height: 200px;
		margin-left: 20px;
	}
}

/* ここまで */

/* main section ここから */
.main_section {
	margin: 0 20px;
}

.h1_wrapper {
	text-align: center;
	margin: 70px 0;
}
.main_section h1 {
	display: inline-block;
	padding: 0 10px 5px 10px;
	border-bottom: solid 2px #D62828;
}

#contact_text {
	text-align: center;
}

#contact_tel {
	margin: 100px auto;
	padding: 20px;
	text-align: center;
	width: 70%;
	font-size: 18px;
	line-height: 2em;
	border: double 4px #FFFFFF;
	background-color: #9f201c;
}

#contact_tel a {
	font-size: 30px;
	transition: all .3s ease;
}

#contact_tel a:hover {
	font-size: 31px;
	color: #0f0f0f;
}

#contact_form {
	width: 70%;
	margin: 50px auto;
	font-size: 16px;
	line-height: 3em;
}

@media (max-width: 820px) {
	.h1_wrapper {
		margin-bottom: 50px;
	}

	.main_section h1 {
		font-size: 28px;
	}

	#contact_text p {
		font-size: 15px;
	}

	#contact_tel h3 {
		font-size: 19px;
		line-height: 1.5em;
	}

	#contact_tel a {
		font-size: 25px;
		transition: font-size .3s ease;
	}

	#contact_tel a:hover {
		font-size: 26px;
	}


	#contact_tel p {
		font-size: 16px;
		line-height: 1.5em;
	}
}

@media (max-width: 430px) {
	.h1_wrapper {
		margin-bottom: 50px;
	}

	.main_section h1 {
		font-size: 22px;
	}

	#contact_text p {
		font-size: 14px;
	}

	#contact_tel {
		width: 90%;
		margin: 60px auto 80px auto;
	}

	#contact_tel h3 {
		font-size: 18px;
		line-height: 1.5em;
	}

	#contact_tel a {
		font-size: 20px;
		transition: font-size .3s ease;
	}

	#contact_tel a:hover {
		font-size: 21px;
	}


	#contact_tel p {
		font-size: 15px;
		line-height: 1.5em;
	}
}

/* フォームエリアここから */
input,
textarea,
select {
	width: 100%;
	box-sizing: border-box;
	height: 50px;
	/* 標準的な高さ */
	padding: 0 10px;
	/* 左右の余白 */
	font-size: 16px;
	/* 読みやすい文字サイズ */
	border-radius: 5px;
}

textarea {
	height: 200px;
	padding: 10px;
	font-size: 16px;
	resize: none;
}

.form-area .form-row {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.form-area dt {
	width: 40%;
	/* text-align: center; */
}

.form-area dd {
	width: 60%;
}

.form-row:last-of-type {
	align-items: flex-start;
	line-height: 1rem;
}


.required {
	color: #D62828;
}

.button {
	text-align: center;
}

.attention {
	margin: 30px 0;
	text-align: center;
	line-height: 1.5em;
}

.policy a {
	text-decoration: underline #FFFFFF;
	transition: all .3s ease;
}

.policy:hover a{
	color: #D62828;
	text-decoration: underline #D62828;
}

.submit-button {
	width: 70%;
	padding: 15px 0;
	margin: 20px auto;
	background: none;
	border: double 4px #FFFFFF;
	color: inherit;
	cursor: pointer;
	transition: border-color .4s ease;
}

.submit-button:hover {
	border-color: #D62828;
}

@media screen and (max-width: 820px) {
	#contact_form {
		width: 90%;
		font-size: 15px;
	}

	.form-area .form-row {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;
	}

	input,
	textarea,
	select {
		font-size: 15px;
	}

	.form-area dt {
		width: 100%;
	}

	.form-area dd {
		width: 100%;
	}

	.form-row:last-of-type {
		line-height: 3rem;
	}

}

@media screen and (max-width: 430px) {
	#contact_form {
		width: 100%;
		font-size: 14px;
	}

	.form-area .form-row {
		margin-bottom: 20px;
	}

	input,
	textarea,
	select {
		font-size: 15px;
	}

	.submit-button {
		width: 60%;
		padding: 10px;
	}

}

/* フォームエリアここまで */

/* モーダル背景 */
.modal {
	display: none;
	position: fixed;
	z-index: 200;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(40, 40, 40, 0.3);
}

/* モーダル本体 */
.modal-content {
	background: #0f0f0f;
	color: #ffffff;
	padding: 40px 20px;
	border: double 3px #ffffff;
	width: 80%;
	max-width: 800px;
	margin: 50px auto;
	/* 立体感 */
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.modal-content h2 {
	text-align: center;
	margin-bottom: 20px;
}

.modal-content dl div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.modal-content dt {
	font-weight: bold;
	width: 30%;
	/* dtの幅を固定するとddが整列しやすい */
}

.modal-content dd {
	width: 70%;
	/* 残りの幅をddが使う */
	text-align: left;
	/* 左寄せ */
	line-height: 1.6;
}

#confirm-message {
	font-size: 16px;
	height: 100px;
	white-space: pre-wrap;
	word-break: break-all;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#confirm-message::-webkit-scrollbar {
	display: none;
}

.modal-buttons {
	text-align: center;
	margin-top: 20px;
}

.modal-buttons button {
	margin: 0 10px;
	padding: 10px 20px;
	cursor: pointer;
	width: 40%;
	padding: 10px 20px;
	background: none;
	border: double 3px #FFFFFF;
	color: #FFFFFF;
	transition: all .4s ease;
}

.modal-buttons button:hover {
	border-color: #D62828;
}

@media (max-width: 820px) {
	.modal-content {
		gap: 0;
	}

	.modal-content dl div {
		margin-bottom: 10px;
	}

	.modal-content h2 {
		font-size: 19px;
	}

	#confirm-message {
		font-size: 15px;
		height: 150px;
	}

	.modal-buttons button {
		margin: 0 20px;
	}
}

@media (max-width: 430px) {
	.modal-content {
		gap: 0;
	}
	
	.modal-content h2 {
		font-size: 19px;
	}

	#confirm-message {
		font-size: 14px;
		height: 150px;
	}

	.modal-buttons button {
		margin: 0 20px;
	}

	.modal-content dl div {
		flex-direction: column;
		align-items: center;
	}

	.modal-content dl dd, .modal-content dl dt {
		text-align: center;
		width: 100%;
		font-size: 14px;
	}

	#confirm-message {
		font-size: 14px;
		height: 100px;
	}

	.modal-buttons {
		margin-top: 30px;
	}

	.modal-buttons button {
		margin: 0 5px;		
	}

}

/* main section ここまで */