@charset "UTF-8";

body {
	font-family: "Zen Old Mincho", sans-serif;
}

/* title_section　ここから */
.title_section {
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-top: 50px;
}

.title_text {
	max-width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 100px;
	padding-bottom: 50px;
}

.title_text h1 {
	font-size: 60px;
}

.title_text h1 span {
	color: #D62828;
}
.title_text p {
	font-size: 30px;
	font-weight: bold;
}

.title_img {
	display: block;
	width: 60%;
	height: 300px;
	background-image: url(../img/menu/bibimbap-1738580_1280.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

@media screen and (max-width: 820px) {
	.title_section {
		height: auto;
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.title_text {
		margin-left: 40px;
		max-width: 55%;
		padding-bottom: 20px;
	}

	.title_text h1 {
		font-size: 50px;
	}
	
	.title_text p {
		font-size: 22px;
	}
	
	.title_img {
		height: 260px;
	}
}

@media screen and (max-width: 430px) {
	.title_section {
		flex-direction: column;
		height: auto;
		padding: 150px 0 20px 0;
		justify-content: space-between;
		align-items: flex-start;
		gap: 50px;
		width: 100%;
	}

	.title_text {
		margin-left: 0;
		padding: 0 20px;
	}

	.title_text h1 {
		font-size: 34px;
	}

	.title_text p {
		font-size: 16px;
	}

	.title_img {
		width: 100%;
		height: 200px;
		margin-left: 20px;
	}
}

/* ここまで */

/* main_section ここから */
.main_section {
	padding: 50px 0;
}

/* menu_topここから */
.menu_top_text {
	text-align: center;
	margin: 30px 25px;
	font-size: 17px;
}

.menu_top_category ul {
    display: flex;
    flex-wrap: wrap;              
    justify-content: center;
	padding: 0;
    margin: 100px auto;
    width: 90%;
	column-gap: 1em;
	row-gap: 0;
}

.menu_top_category ul li {
    flex: 0 0 calc(20% - 1em);              
    text-align: center;
	padding: 0.3em 1em;
    border: double 4px #FFFFFF;
	transition: border-color .3s ease;
	margin-bottom: 1em;
}

.menu_top_category ul li:hover {
    border-color: #D62828;
}
.menu_top_category ul li a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
}

/* 画面幅820px以下：上3つ下2つ */
@media screen and (max-width: 820px) {
	.menu_top_text {
		font-size: 15px;
		margin: 20px;
		line-height: 1.8;
	}

	.menu_top_category ul {
		margin: 70px auto;
		gap: 0.8em;
	}

    .menu_top_category ul li {
        flex: 0 0 calc(32% - 1em);             /* 3個並ぶ幅：32%（余白考慮） */
		padding: 0.7em 1em;
	}

	.menu_top_category ul li a {
		font-size: 15px;
	}
}

/* 画面幅430px以下：2列 */
@media screen and (max-width: 430px) {
	.menu_top_text {
		margin: 15px 12px;
		font-size: 14px;
		line-height: 1.7;
	}

	.menu_top_category ul {
		margin: 40px auto;
		gap: 0.6em;
	}

    .menu_top_category ul li {
        flex: 0 0 calc(48% - 1em);             /* 2個並ぶ幅：48% */
		padding: 0.2em 0.5em;
	}

	.menu_top_category ul li a {
		font-size: 14px;
	}
}
/* main_top ここまで */

/* menu_list　ここから */
section {
	margin: 100px auto;
	width: 80%;
	text-align: center;
}

section h1 {
	display: inline-block;
	margin: 80px;
	border-bottom: solid 2px #D62828;
}

.item_info {
	display: flex;
	gap: 20px;

}

.item_img {
	flex: 5;
}

.item_img img {
	width: 100%;
	height: auto;
	display: block;
}


.items {
	flex: 5;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.items li {
	padding: 10px 20px;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px #ffffff;
}

.items li span {
	text-align: right;
}

.items div {
	padding: 10px 20px;
}

.items div p {
	text-align: right;
	font-size: 14px;
	transition: color .3s ease;
}

.items div:hover p {
	color: #D62828;
}

@media screen and (max-width: 820px) {
	section {
		margin: 80px auto;
	}

	section h1 {
		margin: 60px 0;
		font-size: 28px;
	}

	.item_info {
		flex-direction: column;
		gap: 18px;
	}

	.items ul li {
		font-size: 15px;
		padding: 12px 14px;
	}

	.items div p {
		font-size: 14px;
	}
}

@media screen and (max-width: 430px) {
	section {
		margin: 60px auto;
		width: 92%;
	}

	section h1 {
		margin: 40px 0;
		font-size: 22px;
	}

	.item_info {
		gap: 16px;
	}

	.items {
		gap: 8px;
	}

	.items li {
		padding: 12px 10px;
		font-size: 14px;
	}

	.items div p {
		font-size: 13px;
		margin-top: 8px;
		text-align: right;
	}
}
/* menu_list　ここまで */
/* main_section ここまで */