@charset "UTF-8";

/* title_section　ここから */
.title_section {
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-top: 50px;
}

.title_text {
	max-width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 100px;
	padding-bottom: 50px;
}

.title_text h1 {
	font-size: 60px;
}

.title_text h1 span {
	color: #D62828;
}
.title_text p {
	font-size: 30px;
	font-weight: bold;
}

@media screen and (max-width: 820px) {
	.title_section {
		height: auto;
		padding-top: 180px;
		padding-bottom: 20px;
	}
	.title_text {
		margin-left: 40px;
		max-width: 55%;
		padding-bottom: 20px;
	}

	.title_text h1 {
		font-size: 50px;
	}
	
	.title_text p {
		font-size: 22px;
	}
}

@media screen and (max-width: 480px) {
	.title_section {
		flex-direction: column;
		height: auto;
		padding: 150px 0 20px 0;
		justify-content: space-between;
		align-items: flex-start;
		gap: 50px;
		width: 100%;
	}

	.title_text {
		margin-left: 0;
		padding: 0 20px;
	}

	.title_text h1 {
		font-size: 36px;
	}

	.title_text p {
		font-size: 16px;
	}
}

/* ここまで */

#article_inner {
	width: 65%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

#article_head {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-bottom: 40px;
	margin-bottom: 40px;
} 

#article_head #post_info {
	font-size: 16px;
	font-weight: 200;
}

#article_head #post_title {
	width: 100%;
	font-weight: 200;
	font-size: 32px;
}

#article_main {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 120px;
}

#article_main img {
	width: 100%;
}

#article_main #post_text {
	padding: 20px 0;
}

#article_main #text_inner {
	display: flex;
	flex-direction: column;
	gap: 25px;
	line-height: 2;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 300;
	font-size: 16px;
}

#text_inner #contact_text {
	margin-top: 20px;
}

#text_inner #contact_text div {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

#text_inner #contact_text div a {
	font-weight: 600;
	transition: color 0.3s ease;
}

#text_inner #contact_text div a:hover {
	color: #D62828;
}

#article_foot {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	width: 100%;
	padding: 50px 0;
	border-top: solid 0.5px rgba(255, 255, 255, 0.3);
}

.article_page_btn a {
	display: flex;
	align-items: center;
	gap: 10px;
}

#before_article a {
	justify-content: flex-start;
}

#next_article a {
	justify-content: flex-end;
}

.article_page_btn a span {
	transition: color 0.3s ease;
}

.article_page_btn a:hover span {
	color: #D62828;
}


.article_page_btn span, #article_foot button {
	font-size: 14px;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 200;
	color: #FFFFFF;
}

#article_foot button {
	width: 210px;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 200;
	padding: 10px 20px;
	border-radius: 50px;
	cursor: pointer;
	background-color: #0F0F0F;
	border: solid 1px #FFFFFF;
	position: relative;
	overflow: hidden;
	transition: border-color .5s ease;
}

#article_foot button::before {
	position: absolute;
	top: 0;
	left: -100%;
	content: '';
	font-size: 14px;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-color: #D62828;
	transition: left .4s ease;
	z-index: 0;
}

#article_foot button:hover {
	border-color: #D62828;
}

#article_foot button:hover::before {
	left: 0;
}

#article_foot button span {
	position: relative;
	z-index: 1;
}

@media screen and (max-width: 820px) {
	#article_inner {
		width: 90%;
	}

	#article_head #post_title {
		font-size: 28px;
	}

	#article_main {
		margin-bottom: 80px;
	}

	#article_foot {
		gap: 15px;
		padding: 40px 0;
	}
	
	#article_foot button {
		width: 180px;
		font-size: 13px;
		margin: 0 auto;
	}
	
	.article_page_btn span {
		font-size: 13px;
	}

}

@media screen and (max-width: 480px) {
	#article_inner {
		width: 90%;
	}
	
	#article_head {
		gap: 30px;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	
	#article_head #post_info {
		font-size: 14px;
	}
	
	#article_head #post_title {
		font-size: 23px;
		line-height: 1.5;
	}
	
	#article_main {
		margin-bottom: 50px;
		gap: 15px;
	}
	
	#article_main #text_inner {
		font-size: 15px;
		gap: 20px;
		line-height: 1.8;
	}
	
	#text_inner #contact_text div {
		width: 100%;
	}
	
	#article_foot {
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		padding: 40px 0;
		align-items: center;
	}
	
	#before_article {
		order: 2;
	}
	
	#article_foot button {
		order: 1;
		grid-column: 1 / 3;
		width: 100%;
		max-width: 250px;
		padding: 10px 30px;
		font-size: 14px;
	}
	
	#next_article {
		order: 3;
		justify-self: end;
	}

	#next_article.article_page_btn {
		grid-template-columns: 1fr auto;
	}
	
	.article_page_btn {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: 15px;
		width: 100%;
	}

	.article_page_btn a {
		display: contents;
	}
	
	.article_page_btn svg {
		width: 50px;
		height: 50px;
	}
	
	.article_page_btn span {
		font-size: 14px;
		text-align: left;
	}

	#next_article span {
		text-align: right;
	}
}