@charset "UTF-8";

*, ::before, ::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans JP", sans-serif;
}

button {
	font-family: inherit;
}

header {
	padding: 20px 20px;
	border-bottom: solid 0.5px #949494;
}

header h1 {
	color: #FF0033;
}

.paypay_container {
	text-align: center;
	padding: 40px;
}

.shop_icon {
	width: 50px;
	height: 50px;
	background-color: #ffcb9a;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.shop_icon img {
	width: 75%;
}

.paypay_box {
	background: #ffffff;
	padding: 30px;
	margin: 0 auto;
	width: 90%;
	max-width: 400px;
	border-radius: 15px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.1);
	position: relative;
}

.shop_icon {
	position: absolute;
	left: 40%;
	/* transform: translateX(-30%); */
	top: -15%;
	transform: translateY(10%);
}

.shop_name {
	font-weight: 700;
	font-size: 16px;
	color: #2c2c2c;
	margin-bottom: 10px;
}

.datetime {
	font-size: 12px;
	color: #767676;
	margin-bottom: 10px;
}

.paypay_amount {
	font-size: 18px;
	margin-bottom: 25px;
	color: #2c2c2c;
}

.paypay_amount span {
	font-size: 32px;
	font-weight: 600;
	color: #202020;
	font-family: "TikTok Sans", sans-serif;
	font-weight: 700;
}

.pay_btn {
	width: 100%;
	cursor: pointer;
	transition: transform 0.4s ease;
}

.pay_btn img {
	width: 90%;
	height: auto;
}

.pay_btn:hover {
	transform: translateY(-3px);
}

.comment {
	margin-top: 20px;
	font-size: 14px;
	color: #767676;
}

footer #footer_inner {
	padding: 110px 0 20px 0;
	text-align: center;
	font-size: 13px;
}

