@charset "UTF-8";

*, ::before, ::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans JP", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: relative;
}

main::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 35vh;
	background: linear-gradient(180deg, #38B48B 0%, #20A39E 100%);
	z-index: -1;
}

.paypay_container {
	text-align: center;
	padding: 20px;
	position: relative;
	width: 100%;
	min-height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 40px;
	margin-top: calc(35vh - 200px);
}

.paypay_box {
	background: #ffffff;
	padding: 50px 30px 30px 30px;
	margin: 0 auto;
	width: 90%;
	max-width: 400px;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.1);
	position: relative;
}

.shop_icon {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	background-color: #ffcb9a;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 3px #ffffff;
}

.shop_icon img {
	width: 75%;
}

.shop_name {
	font-weight: 700;
	font-size: 16px;
	color: #2c2c2c;
	margin-bottom: 10px;
	margin-top: 10px;
}

.datetime {
	font-size: 12px;
	color: #767676;
	margin-bottom: 10px;
}

.paypay_amount {
	font-size: 18px;
	margin-bottom: 20px;
	color: #2c2c2c;
}

.paypay_amount span {
	font-size: 32px;
	font-weight: 600;
	color: #202020;
	font-family: "TikTok Sans", sans-serif;
	font-weight: 700;
}

.pay_btn {
	width: 100%;
	cursor: pointer;
	transition: transform 0.4s ease;
	margin-bottom: 10px;
}

.pay_btn img {
	width: 90%;
	height: auto;
	max-width: 320px;
}

.pay_btn:hover {
	transform: translateY(-3px);
}

.comment {
	margin-top: 20px;
	font-size: 14px;
	color: #767676;
	padding: 0 20px;
}

footer {
	margin-top: auto;
}

footer #footer_inner {
	padding-bottom: 20px;
	text-align: center;
	font-size: 13px;
}

@media (max-width: 480px) {
	.paypay_container {
		margin-top: calc(35vh - 180px);
	}

	.paypay_box {
		padding: 40px 20px 20px 20px;
	}
	
	.shop_icon {
		width: 50px;
		height: 50px;
	}
	
	.shop_name {
		font-size: 14px;
	}
	
	.datetime {
		font-size: 11px;
	}
	
	.paypay_amount {
		font-size: 16px;
	}
	
	.paypay_amount span {
		font-size: 28px;
	}
	
	.comment {
		font-size: 12px;
	}
}

@media (min-width: 481px) and (max-width: 819px) {
	.paypay_container {
		margin-top: calc(35vh - 190px);
	}
	
	.shop_icon {
		width: 65px;
		height: 65px;
	}
}

@media (min-width: 820px) {
	.paypay_container {
		margin-top: calc(35vh - 150px);
	}
	
	.shop_icon {
		width: 70px;
		height: 70px;
	}
}